/* -------------------- div -------------------- */
.div_mainbar{
    display: flex;
    /* align-items: center; */
}
.div_logo{
    margin-left: 2%;
}
.div_category{  /* 아래로 정렬 */
    margin: auto 0 0 2%;
    /* margin-left: 3%; */
}
.div_img{
    margin: auto 2% 0 auto;
}

.div_ott_section {
    width: 100%;
    background-color: #00462A;
    margin: 30px 0 0 0;
    align-items: center;
}

.div_rank_list {
    width: 96%;
    height: 400px;
    margin: -70px auto -70px auto;
    align-items: center;
    display: flex;
}

.div_rank_list_text {
    width: 96%;
    margin: 0 auto 0 auto;
    align-items: center;
    display: flex;
}

/* -------------------- nav -------------------- */

nav{
    font-size: 12pt;
    font-family: Georgia, 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
html {
-webkit-touch-callout:none;
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
/*list-style-type: none;*/
margin: 0;
padding: 0;
text-align: center;
}
li{
/*position: relative;*/
display: inline-block;
}
li a{
color: #A8A8A8;
text-align: center;
padding: 14.5px 16px;
text-decoration: none;
}
li a:hover{
/*color: #597812;*/
color: #00462A;
font-weight:normal;
}
.menu {
width: 5000px;
height: 50px;
text-align: center;
max-width: 100%;
background-position: center;
background-size: cover;
background-color: white;color: rgb(192, 35, 35);
position: absolute;z-index: 1;
}

/* -------------------- hr -------------------- */

.hr_logo{
    width: 250px;
    height: 2px;
    background-color: #00462A;
    color: #00462A;
    border: 0;
}
.h1_logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    text-align: center;
    line-height: 10px;
}
.hr_division {
    width: 96%;
    height: 2px;
    background-color: #DEDEDE;
    color: #DEDEDE;
    border: 0;
}

/* -------------------- text -------------------- */

.text_logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    text-align: center;
    line-height: 10px;
}

.text_green {
    color: #00462A;
}

.text_main_section {
    width:96%; 
    height: 310px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    font-size: 50px;
    border-radius: 0.5em;
    border: 3px solid #00462A;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
}

.text_rank_green {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A6BEB4;
    flex: 1;
    text-align: center;
    margin: 0;
}

/* -------------------- img -------------------- */

.img_rank_list {
    width: 344px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 전체 화면에 스크롤바 제거 */
.html, body::-webkit-scrollbar {
    display: none;
}
/* -------------------- community_read -------------------- */
.read_table {
    border: 1px solid #444444;
    margin-top: 30px;
}

.read_title {
    height: 45px;
    font-size: 23px;
    text-align: center;
    background-color:#00462A ;
    color: white;
    width: 1000px;
}

.read_id {
    text-align: center;
    background-color: #E5ECEA;
    width: 30px;
    height: 33px;
}

.read_id2 {
    background-color: white;
    width: 60px;
    height: 33px;
    padding-left: 10px;
}

.read_content {
    padding: 20px;
    border-top: 1px solid #00462A ;
    height: 500px;
}

.read_btn {
    width: 700px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.read_btn1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color:#00462A ;
    border: 1;
    border-radius: 15px;
    color: white;
}
.read_comment_input {
    width: 700px;
    height: 500px;
    text-align: center;
    margin: auto;
}

.read_text3 {
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

.read_com_id {
    width: 100px;
}

.read_comment {
    width: 500px;
}
/* -------------------- community_index -------------------- */
table {
    border-top: 1px solid #00462A;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #00462A;
    padding: 10px;
}

td {
    border-bottom: 1px solid #efefef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

table .even {
    background: #E5ECEA;
}

.text {
    text-align: center;
    padding-top: 20px;
    color: #000000
}

.text:hover {
    text-decoration: underline;
}

a:link {
    color: #57A0EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.poster{
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}   
.board{
    width: 50%;
    float: left;
    box-sizing: border-box;
} 
.h2_community_title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
}
#writeButton{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    height: 40px;
    background-color:#00462A ;
    color: white;
    border-radius: 5px;
}
/* -------------------- community_write -------------------- */
table.table2 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

table.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
