/* -------------------- div -------------------- */
.div_mainbar{
    display: flex;
    /* align-items: center; */
}

.div_logo{
    margin-left: 2%;
}

.div_category{  /* 아래로 정렬 */
    margin: auto 0 0 2%;
}

.div_img{
    margin: auto 2% 0 auto;
}

.div_otttype_section {
    width: 100%;
    height: 280px;
    background-color: #F0F0F0;
    padding: 20px 0 20px 0;
}

.div_ott_select {
    width: 96%;
    height: 250px;
    margin: 0px auto 0px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_favor_list {
    width: 96%;
    margin: 0px auto 0px auto;
    text-align: center;
    display: flex;
}

.div_favor_list_chk {
    margin: 0px auto 0px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: block;
}

/* -------------------- nav -------------------- */

nav{
    font-size: 12pt;
    font-family: Georgia, 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}

html {
-webkit-touch-callout:none;
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
/*list-style-type: none;*/
margin: 0;
padding: 0;
text-align: center;
}
li{
/*position: relative;*/
display: inline-block;
}
li a{
color: #A8A8A8;
text-align: center;
padding: 14.5px 16px;
text-decoration: none;
}
li a:hover{
/*color: #597812;*/
color: #00462A;
font-weight:normal;
}
.menu {
width: 5000px;
height: 50px;
text-align: center;
max-width: 100%;
background-position: center;
background-size: cover;
background-color: white;color: rgb(192, 35, 35);
position: absolute;z-index: 1;
}

/* -------------------- hr -------------------- */

.hr_logo{
    width: 250px;
    height: 2px;
    background-color: #00462A;
    color: #00462A;
    border: 0;
}

.hr_division {
    width: 96%;
    height: 2px;
    background-color: #DEDEDE;
    color: #DEDEDE;
    border: 0;
}

/* -------------------- text -------------------- */

.text_logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    text-align: center;
    line-height: 10px;
}

.text_green {
    color: #00462A;
}

.text_green_h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    line-height: 10px;
    padding: 0 30px 0 30px;
    margin-left: 20px;
}

.text_detail {
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    color: #D1D1D1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid #D1D1D1;
    border-radius: 5%;
    opacity: 1;
    transition: all ease 0.5s;
    backdrop-filter: brightness(0.5);
}

.text_title {
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    color: #D1D1D1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #D1D1D1;
    border-radius: 5%;
    opacity: 1;
    transition: all ease 0.5s;
    backdrop-filter: brightness(0.5);
}

.div_description {
    align-items: center;
    opacity: 0;
    transition: all ease 0.5s;
}

/* -------------------- img -------------------- */

.img_ott_select {
    width: 344px;
    flex: 1;
    filter: brightness(1);
    transition: 0.8s;
}
.img_ott_select:hover {
    filter: brightness(0.5);
}

.img_favor_list {
    width: 344px;
    margin: 10px;
    flex: 1;
    filter: brightness(1);
    transition: 0.8s;
}
.div_favor_list_chk:hover > .img_favor_list{
    filter: brightness(0.5);
}
.div_favor_list_chk:hover > .div_description{
    opacity: 1;
}


/* -------------------- btn -------------------- */

.btn_submit {
    width: 150px;
    height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color: #00462A;
    font-size: 25px;
    background-color: #E5ECEA;
    border-radius: 0.2em;
    border-color: #00462A;
    border-width: 3px;
    margin-right: 50px;
    transition: 0.3s;
}
.btn_submit:hover {
    color: #E5ECEA;
    background-color: #00462A;
    border-color: #E5ECEA;
}

.btn_ott_select {
    border: 0px solid #00462A;
}

/* 전체 화면에 스크롤바 제거 */
.html, body::-webkit-scrollbar {
    display: none;
}


.chk_box { 
    display: block; 
    position: relative; 
    padding-left: 40px; 
    margin-bottom: 10px; 
    cursor: pointer; 
    font-size: 14px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    
}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] { 
    display: none; 
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on { 
    width: 20px; 
    height: 20px; 
    border-radius: 15px;
    background: #ddd; 
    position: absolute; 
    top: 0; 
    left: 0; 
    margin: 0 10px 0 10px;
}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on { 
    background: #00462A; 
}
.on:after { 
    content: ""; 
    position: absolute; 
    display: none; 
}
.chk_box input[type="checkbox"]:checked + .on:after { 
    display: block; 
}
.on:after { 
    width: 6px; 
    height: 10px; 
    border: solid #fff; 
    border-width: 0 2px 2px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
    position: absolute; 
    left: 6px; 
    top: 2px; 
}
