/* -------------------- div -------------------- */

.div_mainbar{
    display: flex;
}

.div_logo{
    margin-left: 2%;
    margin-bottom: 40px;
}

.div_category{  /* 아래로 정렬 */
    margin: auto 0 0 2%;
    /* margin-left: 3%; */
}

.div_img{
    margin: auto 2% 0 auto;
}

.div_login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.div_login_section {
    width: 26%;
    height: 85%;
    background-color: white;
    border-radius: 1em;
    border: 4px solid #A8A8A8;
    text-align: center;
}

/* 화면에 스크롤바 제거 */
.div_login_section::-webkit-scrollbar {
    display: none;
}

.div_horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15% 0 15%;
}

/* -------------------- nav -------------------- */

nav{
    font-size: 12pt;
    font-family: Georgia, 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
html {
-webkit-touch-callout:none;
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
/*list-style-type: none;*/
margin: 0;
padding: 0;
text-align: center;
}
li{
/*position: relative;*/
display: inline-block;
}
li a{
color: #A8A8A8;
text-align: center;
padding: 14.5px 16px;
text-decoration: none;
}
li a:hover{
/*color: #597812;*/
color: #00462A;
font-weight:normal;
}
.menu {
width: 5000px;
height: 50px;
text-align: center;
max-width: 100%;
background-position: center;
background-size: cover;
background-color: white;color: rgb(192, 35, 35);
position: absolute;z-index: 1;
}

/* -------------------- hr -------------------- */

.hr_logo{
    width: 250px;
    height: 2px;
    background-color: #00462A;
    color: #00462A;
    border: 0;
}

.hr_division {
    width: 100%;
    height: 6px;
    background-color: #DEDEDE;
    color: #DEDEDE;
    border: 0;
}

/* -------------------- text -------------------- */
.text_logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    text-align: center;
    line-height: 10px;
}

.text_gray {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #656565;
    line-height: 10px;
    text-align: center;
    margin: 50px 0 30px 0;
}

.text_green {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    line-height: 10px;
    text-align: center;
    margin: 30px 0 30px 0;
}

.text_gray_p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: smaller;
    color: #656565;
    line-height: 10px;
    margin: 10px 0 10px 0;
}

/* -------------------- img -------------------- */

.img_btn_close {
    width: 30px;
    height: 30px;
    margin: 20px 20px 40px 0 ;
    float: right;
}

/* -------------------- input -------------------- */

.input_login {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border-width: 3px;
    border-color: #00462A;
    text-align: center;
}

/* -------------------- btn -------------------- */

.btn_login {
    width: 70%;
    height: 50px;
    margin: 20px 0 20px 0;
    background-color: #00462A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}
.btn_login:hover {
    color: #00462A;
    background-color: #E5ECEA;
    border-color: #E5ECEA;
}

/* 로그인 페이지에서 height의 %가 적용되게 하는 부분 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}