/* -------------------- div -------------------- */
.div_mainbar{
    display: flex;
    /* align-items: center; */
}
.div_logo{
    margin-left: 2%;
}
.div_category{  /* 아래로 정렬 */
    margin: auto 0 0 2%;
    /* margin-left: 3%; */
}
.div_img{
    margin: auto 2% 0 auto;
}

.div_ott_section {
    width: 100%;
    background-color: #00462A;
    margin: 30px 0 0 0;
    align-items: center;
}

.div_rank_list {
    width: 96%;
    margin: 0px auto 0px auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.div_rank_list_text {
    width: 96%;
    margin: 0 auto 0 auto;
    align-items: center;
    display: flex;
}

/* 2개의 컴포넌트를 양쪽에 배치 */
.div_horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15% 0 15%;
}

.div_login {
    width: 300px;
    height: 120px;
    background-color: #F2F6F4;
    position: absolute;
    right: 3%;
    border: 3px solid #66907F;
    border-radius: 3%;
    margin-top: 10px;
    display: none;
}

.div_center {
    display: inline-block;
}


/* -------------------- nav -------------------- */

nav{
    font-size: 12pt;
    font-family: Georgia, 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
html {
-webkit-touch-callout:none;
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
/*list-style-type: none;*/
margin: 0;
padding: 0;
text-align: center;
}
li{
/*position: relative;*/
display: inline-block;
}
li a{
color: #A8A8A8;
text-align: center;
padding: 14.5px 16px;
text-decoration: none;
}
li a:hover{
/*color: #597812;*/
color: #00462A;
font-weight:normal;
}
.menu {
width: 5000px;
height: 50px;
text-align: center;
max-width: 100%;
background-position: center;
background-size: cover;
background-color: white;color: rgb(192, 35, 35);
position: absolute;z-index: 1;
}

/* -------------------- hr -------------------- */

.hr_logo{
    width: 250px;
    height: 2px;
    background-color: #00462A;
    color: #00462A;
    border: 0;
}

.hr_division {
    width: 96%;
    height: 2px;
    background-color: #DEDEDE;
    color: #DEDEDE;
    border: 0;
}

.hr_login_division {
    width: 96%;
    height: 2px;
    background-color: #66907F;
    color: #66907F;
    border: 0;
}

/* -------------------- text -------------------- */

.text_logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    text-align: center;
    line-height: 10px;
}

.text_green {
    color: #00462A;
}

.text_main_section {
    width:96%; 
    height: 310px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    font-size: 50px;
    border-radius: 0.5em;
    border: 3px solid #00462A;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
}

.text_rank_green {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A6BEB4;
    flex: 1;
    text-align: center;
    margin: 20px 0 20px 0;
}

.text_login {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    color: #66907F;
    text-align: center;
}

.text_gray {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #656565;
    line-height: 10px;
    text-align: center;
    margin: 50px 0 30px 0;
}

.text_green2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #00462A;
    line-height: 10px;
    text-align: center;
    margin: 30px 0 30px 0;
}

.text_gray_p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: smaller;
    color: #656565;
    line-height: 10px;
    margin: 10px 0 10px 0;
}


/* -------------------- img -------------------- */

.img_rank_list {
    width: 344px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.8s;
    display: inline-block;
}
.img_rank_list:hover {
    filter: brightness(0.5);
}

.img_btn_close {
    width: 30px;
    height: 30px;
    margin: 20px 20px 40px 0 ;
    float: right;
}


/* -------------------- btn -------------------- */

.btn_login {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    color: #66907F;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border: 2px solid #66907F;
    border-color: #66907F;
    border-radius: 5%;
    background-color: #F2F6F4;
}

.btn_login_modal {
    width: 70%;
    height: 50px;
    margin: 20px 0 20px 0;
    background-color: #00462A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}
.btn_login_.modal:hover {
    color: #00462A;
    background-color: #E5ECEA;
    border-color: #E5ECEA;
}

.btn_user {
    border: none;
    background: none;
}

.btn_movie_detail {
    border: 0px solid #00462A;
    background-color:transparent;
}

/* -------------------- input -------------------- */

.input_login {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    border-width: 3px;
    border-color: #00462A;
    text-align: center;
}

/* 전체 화면에 스크롤바 제거 */
.html, body::-webkit-scrollbar {
    display: none;
}

/* 팝업 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox {
    position: absolute;
    background-color: #fff;
    width: 26%;
    height: 85%;
    padding: 15px;
  }

  .modalBox button {
    display: block;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }
